/* style.css */
.anchor-pane {
    -fx-background-color: #f0f0f0;
}

.tile-pane {
    -fx-border-color: #000000;
    -fx-border-width: 2px;
    -fx-border-radius: 10px;
}

.text-field {
    -fx-border-color: #4CAF50;
    -fx-border-width: 2px;
    -fx-border-radius: 5px;
}
